---
- name: Ensure dependencies are installed.
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - gnupg2
    state: present

- name: Ensure keyring directory exists
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download docker public repository key
  get_url:
    url: "{{ docker_apt_gpg_key }}"
    dest: /tmp/docker-apt-keyring.asc
    mode: '0644'

- name: Convert docker key to GPG binary format
  command: gpg --dearmor -o /etc/apt/keyrings/docker-apt-keyring.gpg /tmp/docker-apt-keyring.asc
  args:
    creates: /etc/apt/keyrings/docker-apt-keyring.gpg

- name: Add Docker apt repo source
  deb822_repository:
    name: docker
    types: [deb]
    uris: "{{ docker_apt_repo }}"
    suites: "{{ ansible_distribution_release }}"
    components: [stable]
    architectures: "{{ docker_apt_arch }}"
    signed_by: /etc/apt/keyrings/docker-apt-keyring.gpg
    state: present
  register: docker_repository

- name: Update Apt cache.
  apt:
    update_cache: true
  when: docker_repository.changed